@tailwind base;
@tailwind components;
@tailwind utilities;

.animation_bar{
    animation: bar 2s cubic-bezier(0.075, 0.82, 0.165, 1) backwards;
}

@keyframes bar {
    from {
        width: 0%;
    }
    top{
        width: 90%;
    }
}